{% extends 'layouts/admin.html.twig' %}


{% block title %}
	{{ 'dashboard.title'|trans }}
{% endblock %}

{% block admin_body %}
	<div class="w-full h-full flex items-center justify-center">
		<h1 class="text-3xl">{{ 'feature_in_development'|trans }}</h1>
	</div>
{% endblock %}
