<button {{ attributes.defaults({ class: "cursor-pointer hover:opacity-80 active:opacity-60 w-full text-center rounded disabled:cursor-default disabled:opacity-50 #{element_class}"} ) }}>
  {# prettier-ignore #}
  {% block content %}{% endblock %}
</button>
