<form{{attributes}}>
	<input
	type="hidden" name="{{ constant('App\\Config\\Constants::PARAMETERS')['csrf_token'] }}" value="{{ csrf_token(constant('App\\Config\\Constants::PARAMETERS')['csrf_token']) }}"/>
	{# prettier-ignore #}
	{% block content %}{% endblock %}
</form>
